<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Exo Lexicon</title>
    <link rel="stylesheet" href="../../lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <button type="button" class="close" aria-label="Close" id="close-about">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container">


        <div class="mt-2">
            <img src="../../public/icons/png/014-planet-1.png" alt="planet icon" class="rounded mx-auto d-block"
                style="height: 100px; width: 100px;">
        </div>

        <div class="container mt-2">
            <p>Exo Lexicon is a open-source GUI manager for Redis</p>
            <p>If you'd like to colaborate please send your pull requests to project repository on <a href="#"
                    id="github-external">github</a></p>
            <p>Icons made by <a href="#" title="Freepik" id="icon-author">Freepik</a> from <a href="#" title="Flaticon"
                    id="icon-src">www.flaticon.com</a>
            </p>
            <p>Dependencies:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Electron</th>
                        <td id="electron-version"></td>
                    </tr>
                    <tr>
                        <th scope="row">Bootstrap</th>
                        <td>4.3.1</td>
                    </tr>
                </tbody>
            </table>
            <p>GNU General Public License v3.0</p>
        </div>

    </div>


</body>
<script src="../controllers/about.js"></script>

</html>