<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exo Lexicon</title>
    <link rel="stylesheet" href="../../lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <p>Servers:</p>
        <div id="server-list"></div>
    </div>
    <a href="#" id='about'>About</a>
    <script src="../controllers/renderer.js"></script>
</body>

</html>